fastapi
uvicorn[standard]
python-multipart
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
# psycopg2-binary
alembic
httpx
langchain
langchain-community
langchain-google-genai
langchain-openai
langchain-core
chromadb
# openai-whisper
gTTS
Pillow
numpy
pydantic
pydantic-settings
requests
aiofiles
groq
transformers
torch
accelerate
sentence-transformers
scikit-learn
pytz
